
/*Variables globales de color*/
$backgroundColor : #cfcfcf;
$linkColor : #fa6800;
$btn :  #075d76;
$background : white;
$textBackground : gainsboro;
$textColor : black;

/*Variables globales de unidades*/
$margins : 5rem;
$marginsText : 4rem;
$marginReferences: 0.5rem;

/*Fin de código*/